.nav{
    grid-area: n;
    border: solid floralwhite 1px;
    border-radius: 2px;
    text-align: center;
    font-size: 25px;
    
}
.na{
    color: paleturquoise;
    text-decoration: none;
}
.user{
    color: rgb(34, 44, 178);
    text-decoration: none;
    
}